<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test_Suite">
  <test thread-count="5" name="Class_Test">
    <classes>
      <class name="TestNG.Test_3"/>
      <class name="TestNG.Test_2"/>
      <class name="TestNG.Test_1"/>
    </classes>
  </test> <!-- Class_Test -->
</suite> <!-- Test_Suite -->
